
* {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0,));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1200px 900px;
    color: #000;
    
}   
/* header section */
.logo {
    width: 150px;
    margin-top: 18px;
    padding-bottom: 15px;
}

.header {
    height: 10%;
}

.header-btn {
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 20px;
    float: right;
    margin-top: 15px;
    color: #fff;
    background: #107afd;
    font-weight: 600;
}

.movie-details {
    margin: 3% 0;
}


/* cast section */
.casting img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
    
}

.leftbox a {
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    color: #fff;
    background: #107afd;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

.download-btn {
    border: 1px solid #fff;
    background: transparent;
}
/* popula movie row */
.movie-img {
    height: 350px;
    box-shadow: -4px 4px 5px 0 #000;
}

.series h3 {
    color: #000;
}

.series img {
    width: 100%;
    margin-top: 15px;
    box-shadow: -4px 4px 5px 0 #fff;
    cursor: pointer;
    transition: 1s;
}

.series img:hover {
translate: -5px;
}
